.item {
    background-color: #be1972;
    color: whitesmoke;
    font-weight: bold;
    margin: 25px 16px;
    min-height: 50px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.item--done {
    text-decoration-line: line-through;
}

.item--noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                        supported by Chrome, Opera and Firefox */
}